################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Leet-Code-Problems/Two-Sum-Project/bin/Debug/net6.0
/Leet-Code-Problems/Two-Sum-Project/obj
/Leet-Code-Problems/Two-Sum-ProjectTests/bin/Debug/net6.0
/Leet-Code-Problems/Two-Sum-ProjectTests/obj
/Leet-Code-Problems/Leet-Code-Problems-Project/bin/Debug/net6.0
/Leet-Code-Problems/Leet-Code-Problems-Project/obj
/Leet-Code-Problems/Leet-Code-ProblemsTests/bin/Debug/net6.0
/Leet-Code-Problems/Leet-Code-ProblemsTests/obj
